@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;500&family=Passion+One&family=Press+Start+2P&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');
:root {
    --font_1: 'Passion One', cursive;
    --font_2:  'Sriracha', cursive;
}

*{
    margin: 0px;
    padding: 0px;
}
html, body {
    min-height: 100vh;
    background-color: darkgray;
}
/* ÃREA DE HEAD*/

header {
    background: black;
    min-height: 150px;
    text-align: center;
}

header h1 {
    font-family: var(--font_1);
    font-size: 10vw;
    padding-top: 20px;
    color: white;
    font-variant: small-caps;
}

header a {
    color: white;
    text-decoration: none;
}

header a:hover{
    color: aqua;
}
/* PROPIEDADE DE BODY */
section {
    padding-top: 10vh;
    padding-bottom: 10vh;
    padding-left: 30px;
    line-height:2em;

    font-family: var(--font_2);
    font-size: 1.5em;
}

section p {
    padding-bottom: 40px;
    padding-left: 10px;
}

section.normal{
    background: white;
    color: black;
}

section.imagem {
    background-color: rgba(22, 10, 10, 0.63);
    color: white;
    box-shadow: inset 5px 5px 6px rgba(0, 0, 0, 0.253);
   background-attachment: fixed;
}
section.imagem > p {
    background-color: rgba(0, 0, 0, 0.37);
    width: 300px;
}

section#img-1 {
    background-image: url(/imagens/background001.jpg);
    background-size: cover;
    
}

section#img-2 {
    background-image: url(/imagens/background002.jpg);
}

/*PRODIEDADES DE FOOTER*/
footer {
    text-align: center;
    background: rgba(0, 0, 0, 0.863);
}
footer p {
    padding: 10px;
    color: white;
}
footer a {
    text-decoration: none;
    color: aquamarine;
}